{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Import des matchs {% endblock %}

{% block section %}
<div class="text-center m-5">
    <h2>Import des résultats</h2>
    <p>Importez un ou deux fichiers CSV issue de
        <a href="https://extraction.gesthand.net/index.php?section=competition&type=rencontre&joue=1" target="_blank"
            class="text-decoration-none mb-2">
            GESTHAND
        </a>
        .
    </p>
</div>

<div class="row justify-content-evenly">
    <div class="col-sm-12 col-md-6">
        <img src="{{ asset('images/animation.gif') }}" alt="Importation des match"
            class="img-fluid rounded mx-auto d-block">
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="col-12"></div>
        <form method="post" action="{{path('app_confirmation')}}" enctype="multipart/form-data">

            <input type="file" name="csv_file_1" id="import1" class="form-control m-1">
            <input type="file" name="csv_file_2" id="import1" class="form-control m-1">
            <button type="submit" class="btn btn-success m-2">Importer</button>

        </form>
    </div>
</div>
</div>

{% endblock %}